.login-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-box {
  background: white;
  padding: 30px;
  width: 350px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.login-box h2 {
  text-align: center;
  margin-bottom: 10px;
}

.login-box input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 15px;
}

.login-box button {
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  border: none;
  background: #0b2b57;
  color: white;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
}

.login-box button:hover {
  background: #09315d;
}
